# Google AI Studio API Key (Para el modelo LLM Gemini)
# Obtenla en: https://aistudio.google.com/
GOOGLE_API_KEY="tu_clave_de_google_gemini_aqui"

# Voyage AI API Key (Para los Embeddings)
# Obtenla en: https://dash.voyageai.com/
VOYAGE_API_KEY="tu_clave_de_voyage_ai_aqui"
